* {
    padding: 0;
    margin: 0;
}

canvas {
    background: #eee;
    display:block;
    margin: 0 auto;
}

#flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}